h1{
    text-align: center;
}

.title{

    text-align: center;
}



.stepF{
    display: flex;
    flex-direction: row;
}
.daughter {
    border: solid 1px black;
    height: 40px;
    width: 70%;
    /*text-align: center;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.son{
    border: solid 1px black;
    width: 30%;
    height: 40px;
    /*text-align: center;*/
    display: flex;
    align-items: center;
    justify-content: center;
}